<div class="modulebar">
  <div class="module-banner">
    <h1>Modules</h1>
  </div>
  <div class="module-list">
    <div (click)="moduleHide=(moduleHide ? false : true)" [ngClass]="{'inactive-tab':!moduleHide,'module-head':true}">
      <p><span class="down-arrow"><img src="assets/down.png" alt=""></span> Dependencies List</p>
    </div>
    <div *ngIf="moduleHide" class="package-list">
      <div class="package" *ngFor="let dev of objectKeys(projects[0].dependencies)">
        <p>{{}} <span>2.0.2</span></p>
      </div>
    </div>
    <div (click)="devHide=(devHide ? false : true)" [ngClass]="{'inactive-dev-tab':!devHide,'module-head':true}">
      <p><span class="down-arrow"><img src="assets/down.png" alt=""></span>Dev Dependencies List</p>
    </div>
    <div *ngIf="devHide" class="package-list">
      <div class="package">
        <p>karma <span>2.7.9</span></p>
      </div>
      <div class="package">
        <p>typescript <span>5.7.0</span></p>
      </div>
      <div class="package">
        <p>protractor <span>2.5.4</span></p>
      </div>
      <div class="package">
        <p>codelyzer <span>0.9.9</span></p>
      </div>
    </div>
  </div>
</div>
