<div class="menubar">
  <p>Moddoc</p>
</div>
<div class="main">
  <div class="sidebar">
    <div class="projectbar">
      <div class="project-list">
        <div class="project-head">
          <p>Projects </p>
        </div>
        <div class="project">
          <p>Devtocli</p>
        </div>
        <div class="project">
          <p>Dev10</p>
        </div>
        <div class="project">
          <p>Dragula</p>
        </div>
      </div>
      <div class="add-project">
        <h1>+</h1>
      </div>
    </div>
    <div class="modulebar">
      <div class="module-list">
        <div class="module-head">
          <p><span class="down-arrow"><img src="assets/down.png" alt=""></span> Dependencies List</p>
        </div>
        <div class="package-list">
          <div class="package">
            <p>Angular <span>2.0.2</span></p>
          </div>
          <div class="package">
            <p>rxjs <span>1.5.2</span></p>
          </div>
          <div class="package">
            <p>core-js <span>1.9.6</span></p>
          </div>
          <div class="package">
            <p>electron <span>0.0.2</span></p>
          </div>
          <div class="package">
            <p>zone.js <span>2.7.9</span></p>
          </div>
        </div>
        <div class="module-head">
          <p><span class="down-arrow"><img src="assets/down.png" alt=""></span>Dev Dependencies List</p>
        </div>
        <div class="package-list">
          <div class="package">
            <p>karma <span>2.7.9</span></p>
          </div>
          <div class="package">
            <p>typescript <span>5.7.0</span></p>
          </div>
          <div class="package">
            <p>protractor <span>2.5.4</span></p>
          </div>
          <div class="package">
            <p>codelyzer <span>0.9.9</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="view-window">

  </div>
</div>
